<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>airLink</key>
	<array>
		<string>DJIAirLinkParamIsWiFiLinkSupported</string>
		<string>DJIAirLinkParamIsOcuSyncLinkSupported</string>
		<string>DJIAirLinkParamUplinkSignalQuality</string>
		<string>DJILightbridgeLinkParamChannelInterference</string>
		<string>DJILightbridgeLinkParamChannelRange</string>
		<string>DJILightbridgeLinkParamDataRate</string>
		<string>DJILightbridgeLinkParamBandwidthAllocationForLBVideoInputPort</string>
		<string>DJILightbridgeLinkParamBandwidthAllocationForMainCamera</string>
		<string>DJILightbridgeLinkParamIsSecondaryVideoOutputSupported</string>
		<string>DJILightbridgeLinkParamLiveViewSimultaneousOutputEnabled</string>
		<string>DJILightbridgeLinkParamSecondaryVideoDisplayMode</string>
		<string>DJILightbridgeLinkParamSecondaryVideoOSDTopMargin</string>
		<string>DJILightbridgeLinkParamSecondaryVideoOSDBottomMargin</string>
		<string>DJILightbridgeLinkParamSecondaryVideoOSDUnit</string>
		<string>DJILightbridgeLinkParamSecondaryVideoOutputFormatForSDI</string>
		<string>DJILightbridgeLinkParamIsDualEncodeModeSupported</string>
		<string>DJILightbridgeLinkParamFrequencyBand</string>
		<string>DJILightbridgeLinkParamRemoteControllerAntennaRSSI</string>
		<string>DJIWiFiLinkParamChannelInterference</string>
		<string>DJIWiFiLinkParamSSID</string>
		<string>DJIWiFiLinkParamFrequencyBand</string>
		<string>DJIWiFiLinkParamAvailableChannelNumbers</string>
		<string>DJIWiFiLinkParamMagneticInterferenceLevel</string>
		<string>DJIWiFiLinkParamChannelSelectionMode</string>
		<string>DJIOcuSyncLinkParamChannelInterference</string>
		<string>DJIOcuSyncLinkParamChannelBandwidth</string>
		<string>DJIOcuSyncLinkParamChannelNumberValidRange</string>
		<string>DJIOcuSyncLinkParamWarningMessages</string>
		<string>DJIOcuSyncLinkParamFrequencyBand</string>
	</array>
	<key>battery</key>
	<array>
		<string>DJIBatteryParamChargeRemaining</string>
		<string>DJIBatteryParamVoltage</string>
		<string>DJIBatteryParamLifetimeRemainingInPercent</string>
		<string>DJIBatteryParamNumberOfDischarges</string>
		<string>DJIBatteryParamCellVoltageLevel</string>
		<string>DJIBatteryParamNumberOfCells</string>
		<string>DJIBatteryParamWarningInformationRecords</string>
		<string>DJIBatteryParamCellVoltages</string>
		<string>DJIBatteryParamSelfDischargeInDays</string>
		<string>DJIBatteryParamLevel2CellVoltageThreshold</string>
		<string>DJIBatteryParamLevel2CellVoltageBehavior</string>
		<string>DJIBatteryParamPairBatteries</string>
	</array>
	<key>accessory</key>
	<array>
		<string>DJIAccessoryParamSpotlightSubComponent</string>
		<string>DJIAccessoryParamBrightnessRange</string>
		<string>DJIAccessoryParamVolume</string>
		<string>DJIAccessoryParamPlayMode</string>
		<string>DJIAccessoryParamRename</string>
		<string>DJIAccessoryParamStopAudioPlay</string>
		<string>DJIAccessoryParamEnabled</string>
	</array>
	<key>camera</key>
	<array>
		<string>DJICameraParamDisplayName</string>
		<string>DJICameraParamIsMediaDownloadModeSupported</string>
		<string>DJICameraParamShootPhotoMode</string>
		<string>DJICameraParamIsTimeLapseSupported</string>
		<string>DJICameraParamStartShootPhotoWithMode</string>
		<string>DJICameraParamPhotoAspectRatio</string>
		<string>DJICameraParamPhotoBurstCount</string>
		<string>DJICameraParamPhotoAEBCount</string>
		<string>DJICameraParamPhotoTimeIntervalSettings</string>
		<string>DJICameraParamPhotoPanoramaMode</string>
		<string>DJICameraParamIsShootingSinglePhoto</string>
		<string>DJICameraParamIsShootingIntervalPhoto</string>
		<string>DJICameraParamIsShootingRAWBurstPhoto</string>
		<string>DJICameraParamIsStoringPhoto</string>
		<string>DJICameraParamStopRecordVideo</string>
		<string>DJICameraParamVideoFileFormat</string>
		<string>DJICameraParamVideoCaptionEnabled</string>
		<string>DJICameraParamVideoFileCompressionStandard</string>
		<string>DJICameraParamCurrentRecordingTimeInSeconds</string>
		<string>DJICameraParamExposureMode</string>
		<string>DJICameraParamISO</string>
		<string>DJICameraParamIsAdjustableApertureSupported</string>
		<string>DJICameraParamMeteringMode</string>
		<string>DJICameraParamExposureCompensation</string>
		<string>DJICameraParamAutoAEUnlockEnabled</string>
		<string>DJICameraParamExposureSensitivityMode</string>
		<string>DJICameraParamEIRange</string>
		<string>DJICameraParamVideoDewarpingEnabled</string>
		<string>DJICameraParamContrast</string>
		<string>DJICameraParamColor</string>
		<string>DJICameraParamFileIndexMode</string>
		<string>DJICameraParamOrientation</string>
		<string>DJICameraParamVisionStabilizationEnabled</string>
		<string>DJICameraParamPanoOriginalPhotoSettings</string>
		<string>DJICameraParamIsLockGimbalDuringShootPhotoSupported</string>
		<string>DJICameraParamWatermarkSettings</string>
		<string>DJICameraParamDigitalZoomFactor</string>
		<string>DJICameraParamOpticalZoomSpec</string>
		<string>DJICameraParamOpticalZoomFactor</string>
		<string>DJICameraParamStopContinuousOpticalZoom</string>
		<string>DJICameraParamTapZoomMultiplier</string>
		<string>DJICameraParamIsAudioRecordingSupported</string>
		<string>DJICameraParamAudioGain</string>
		<string>DJICameraParamIsInterchangeableLensSupported</string>
		<string>DJICameraParamIsLensMounted</string>
		<string>DJICameraParamIsLensAFSwitchOn</string>
		<string>DJICameraParamInitSensorCleaningMode</string>
		<string>DJICameraParamExitSensorCleaningMode</string>
		<string>DJICameraParamFocusMode</string>
		<string>DJICameraParamFocusAssistantSettings</string>
		<string>DJICameraParamFocusRingValue</string>
		<string>DJICameraParamIsFocusAssistantWorking</string>
		<string>DJICameraParamIsMFSupported</string>
		<string>DJICameraParamSaveSettings</string>
		<string>DJICameraParamIsThermalCamera</string>
		<string>DJICameraParamThermalPalette</string>
		<string>DJICameraParamThermalDDE</string>
		<string>DJICameraParamThermalSSO</string>
		<string>DJICameraParamThermalContrast</string>
		<string>DJICameraParamThermalIsothermUnit</string>
		<string>DJICameraParamThermalIsothermMiddleValue</string>
		<string>DJICameraParamThermalGainMode</string>
		<string>DJICameraParamThermalDigitalZoomFactor</string>
		<string>DJICameraParamThermalSpotMeteringTargetPoint</string>
		<string>DJICameraParamThermalFFCMode</string>
		<string>DJICameraParamThermalCustomExternalSceneSettingsProfile</string>
		<string>DJICameraParamThermalAtmosphericTransmissionCoefficient</string>
		<string>DJICameraParamThermalSceneEmissivity</string>
		<string>DJICameraParamThermalWindowReflectedTemperature</string>
		<string>DJICameraParamThermalWindowTransmissionCoefficient</string>
		<string>DJICameraParamThermalTemperatureData</string>
		<string>DJICameraParamDisplayMode</string>
		<string>DJICameraParamMSXLevel</string>
		<string>DJICameraParamDualFeedHorizontalAlignmentOffset</string>
		<string>DJICameraParamHasError</string>
		<string>DJICameraParamSDCardIsInitializing</string>
		<string>DJICameraParamSDCardIsReadOnly</string>
		<string>DJICameraParamSDCardIsFormatted</string>
		<string>DJICameraParamSDCardIsFull</string>
		<string>DJICameraParamSDCardIsInserted</string>
		<string>DJICameraParamSDCardRemainingSpaceInMB</string>
		<string>DJICameraParamSDCardAvailableRecordingTimeInSeconds</string>
		<string>DJICameraParamFormatSSD</string>
		<string>DJICameraParamSSDLegacyColor</string>
		<string>DJICameraParamSSDRAWLicense</string>
		<string>DJICameraParamSSDOperationState</string>
		<string>DJICameraParamSSDTotalSpace</string>
		<string>DJICameraParamSSDRemainingSpaceInMB</string>
		<string>DJICameraParamSSDClipFileName</string>
		<string>DJICameraParamStorageLocation</string>
		<string>DJICameraParamFormatStorage</string>
		<string>DJICameraParamInternalStorageRemainingSpaceInMB</string>
		<string>DJICameraParamInternalStorageAvailableRecordingTimeInSeconds</string>
		<string>DJICameraParamIsVideoHistogramSupported</string>
		<string>DJICameraParamVideoHistogramGraph</string>
		<string>DJICameraParamSDCardOperationState</string>
		<string>DJICameraParamThermalTemperatureDataEnabled</string>
	</array>
	<key>flightController</key>
	<array>
		<string>DJIFlightControllerParamName</string>
		<string>DJIFlightControllerParamVelocity</string>
		<string>DJIFlightControllerParamTakeoffLocationAltitude</string>
		<string>DJIFlightControllerParamGPSSignalStatus</string>
		<string>DJIFlightControllerParamBatteryThresholdBehavior</string>
		<string>DJIFlightControllerParamStartTakeoff</string>
		<string>DJIFlightControllerParamTurnOffMotors</string>
		<string>DJIFlightControllerParamESCBeepEnabled</string>
		<string>DJIFlightControllerParamHomeLocation</string>
		<string>DJIFlightControllerParamBatteryPercentageNeededToLandFromCurrentHeight</string>
		<string>DJIFlightControllerParamIsHomeLocationSet</string>
		<string>DJIFlightAssistantParamDetectionSectors</string>
		<string>DJIFlightAssistantParamVisionControlState</string>
		<string>DJIFlightAssistantParamVisionDetectionTailState</string>
		<string>DJIFlightAssistantParamVisionDetectionLeftState</string>
		<string>DJIFlightAssistantParamVisionNoseTailSensorEnabled</string>
		<string>DJIFlightAssistantParamAdvancedPilotAssistanceSystemEnabled</string>
		<string>DJIFlightControllerParamFlightMode</string>
		<string>DJIFlightControllerParamIsFailSafe</string>
		<string>DJIFlightControllerParamIsUltrasonicBeingUsed</string>
		<string>DJIFlightControllerParamDoesUltrasonicHaveError</string>
		<string>DJIFlightControllerParamVisionAssistedPositioningEnabled</string>
		<string>DJIFlightControllerParamCancelTakeoff</string>
		<string>DJIFlightControllerParamAutoLanding</string>
		<string>DJIFlightControllerParamAreMotorsOn</string>
		<string>DJIFlightControllerParamMaxFlightHeight</string>
		<string>DJIFlightControllerParamMaxFlightRadius</string>
		<string>DJIFlightControllerParamMaxFlightRadiusEnabled</string>
		<string>DJIFlightControllerParamGoHome</string>
		<string>DJIFlightControllerParamGoHomeExecutionState</string>
		<string>DJIFlightControllerParamRollPitchControlMode</string>
		<string>DJIFlightControllerParamRollPitchCoordinateSystem</string>
		<string>DJIFlightControllerParamVirtualStickAdvancedControlModeEnabled</string>
		<string>DJIFlightControllerParamIsLandingGearMovable</string>
		<string>DJIFlightControllerParamGoHomeHeightInMeters</string>
		<string>DJIFlightControllerParamOnboardSDKDeviceData</string>
		<string>DJIFlightControllerParamOnboardSDKDeviceActive</string>
		<string>DJIFlightControllerParamSeriousLowBatteryWarningThreshold</string>
		<string>DJIFlightControllerParamIsLowerThanSeriousBatteryWarningThreshold</string>
		<string>DJIFlightControllerParamSmartReturnToHomeEnabled</string>
		<string>DJIFlightControllerParamStartIMUCalibrationWithID</string>
		<string>DJIFlightControllerParamConfirmLanding</string>
		<string>DJIFlightControllerParamControlMode</string>
		<string>DJIFlightControllerParamTerrainFollowModeEnabled</string>
		<string>DJIFlightControllerParamFCControlChannel1Mapping</string>
		<string>DJIFlightControllerParamLockCourseUsingCurrentHeading</string>
		<string>DJIFlightControllerParamVirtualStickControlModeEnabled</string>
		<string>DJIFlightControllerParamHasReachedMaxFlightRadius</string>
		<string>DJIFlightControllerParamLandingGearState</string>
		<string>DJIFlightControllerParamLandingGearAutomaticMovementEnabled</string>
		<string>DJIFlightControllerParamLandingGearExitTransportMode</string>
		<string>DJIFlightControllerParamLandingGearDeployLandingGear</string>
		<string>DJIFlightControllerParamMultipleFlightModeEnabled</string>
		<string>DJIFlightAssistantParamCollisionAvoidanceEnabled</string>
		<string>DJIFlightAssistantParamLandingProtectionEnabled</string>
		<string>DJIFlightAssistantParamUpwardsAvoidanceEnabled</string>
		<string>DJIFlightAssistantParamIsBraking</string>
		<string>DJIFlightAssistantParamAdvancedGestureControlEnabled</string>
		<string>DJIFlightControllerParamCompassHeading</string>
		<string>DJIFlightControllerParamCompassHasError</string>
		<string>DJIFlightControllerParamCompassStartCalibration</string>
		<string>DJIFlightControllerParamIMUState</string>
		<string>DJIFlightControllerParamIMUAccelerometerState</string>
		<string>DJIFlightControllerParamIMUStateCalibrationState</string>
		<string>DJIFlightControllerParamIsSimulatorActive</string>
		<string>DJIFlightControllerParamStopSimulator</string>
		<string>DJIFlightControllerParamSimulatorWindSpeed</string>
		<string>DJIFlightControllerParamRTKEnabled</string>
		<string>DJIFlightControllerParamRTKError</string>
		<string>DJIFlightControllerParamRTKMainBeidouCount</string>
		<string>DJIFlightControllerParamRTKSatelliteGPSCount</string>
		<string>DJIFlightControllerParamRTKSatelliteGlonassCount</string>
		<string>DJIFlightControllerParamRTKGroundBeidouCount</string>
		<string>DJIFlightControllerParamRTKMobileStationFusionHeadingAngle</string>
		<string>DJIFlightControllerParamRTKMobileStationFusionLocation</string>
		<string>DJIFlightControllerParamRTKMobileStationAltitude</string>
		<string>DJIFlightControllerParamRTKBaseStationAltitude</string>
		<string>DJIFlightControllerParamRTKHeadingAngle</string>
		<string>DJIFlightControllerParamIsRTKBeingUsed</string>
		<string>DJIFlightControllerParamCinematicBrakeSensitivityRange</string>
		<string>DJIFlightControllerParamCinematicYawSpeedRange</string>
		<string>DJIAccessLockerParamState</string>
		<string>DJIAccessLockerParamSetUpUserAccount</string>
		<string>DJIAccessLockerParamModifyUserAccount</string>
		<string>DJIAccessLockerParamFormat</string>
	</array>
	<key>gimbal</key>
	<array>
		<string>DJIGimbalParamAttitudeYawRelativeToAircraft</string>
		<string>DJIGimbalParamReset</string>
		<string>DJIGimbalParamIsAttitudeReset</string>
		<string>DJIGimbalParamIsCalibrating</string>
		<string>DJIGimbalParamIsCalibratingStateDependProgress</string>
		<string>DJIGimbalParamIsRollAtStop</string>
		<string>DJIGimbalParamIsGimbalOverloaded</string>
		<string>DJIGimbalParamMode</string>
		<string>DJIGimbalParamStartCalibration</string>
		<string>DJIGimbalParamFineTunePitchInDegrees</string>
		<string>DJIGimbalParamMovementSettingsProfile</string>
		<string>DJIGimbalParamPitchRangeExtensionEnabled</string>
		<string>DJIGimbalParamRollMotorControlStiffness</string>
		<string>DJIGimbalParamRollMotorControlStrength</string>
		<string>DJIGimbalParamRollMotorControlGyroFilteringFactor</string>
		<string>DJIGimbalParamRollMotorControlPreControl</string>
		<string>DJIGimbalParamPitchControllerDeadband</string>
		<string>DJIGimbalParamYawControllerSpeedCoefficient</string>
		<string>DJIGimbalParamPitchControllerSmoothingFactor</string>
		<string>DJIGimbalParamYawSmoothTrackEnabled</string>
		<string>DJIGimbalParamPitchSmoothTrackSpeed</string>
		<string>DJIGimbalParamYawSmoothTrackDeadband</string>
		<string>DJIGimbalParamPitchSmoothTrackAcceleration</string>
		<string>DJIGimbalParamPitchUpEndpoint</string>
		<string>DJIGimbalParamYawLeftEndpoint</string>
		<string>DJIGimbalParamToggleSelfie</string>
		<string>DJIGimbalParamPitchInvertedControlEnabled</string>
		<string>DJIGimbalParamLandingGearProtectionEnabled</string>
		<string>DJIGimbalParamYawControllerMaxSpeed</string>
		<string>DJIGimbalParamAttitudeSynchronizationEnabled</string>
	</array>
	<key>payload</key>
	<array>
		<string>DJIPayloadParamUpstreamBandwidth</string>
		<string>DJIPayloadParamPayloadAllWidgets</string>
	</array>
	<key>remoteController</key>
	<array>
		<string>DJIRemoteControllerParamStopPairing</string>
		<string>DJIRemoteControllerParamAircraftMappingStyle</string>
		<string>DJIRemoteControllerParamLeftWheelGimbalControlAxis</string>
		<string>DJIRemoteControllerParamC1ButtonBindingEnabled</string>
		<string>DJIRemoteControllerParamIsMasterSlaveModeSupported</string>
		<string>DJIRemoteControllerParamMasterSlaveConnectionState</string>
		<string>DJIRemoteControllerParamPassword</string>
		<string>DJIRemoteControllerParamStartMasterSearching</string>
		<string>DJIRemoteControllerParamMasterSearchingState</string>
		<string>DJIRemoteControllerParamMasterAuthorizationCode</string>
		<string>DJIRemoteControllerParamConnectToMasterWithIDAndAuthorizationCode</string>
		<string>DJIRemoteControllerParamRequestLegacyGimbalControl</string>
		<string>DJIRemoteControllerParamCustomGimbalMapping</string>
		<string>DJIRemoteControllerParamIsFocusControllerSupported</string>
		<string>DJIRemoteControllerParamChargeRemaining</string>
		<string>DJIRemoteControllerParamFocusControllerIsWorking</string>
		<string>DJIRemoteControllerParamFocusControllerDirection</string>
		<string>DJIRemoteControllerParamRequestGimbalControl</string>
		<string>DJIRemoteControllerParamLeftHorizontalValue</string>
		<string>DJIRemoteControllerParamRightVerticalValue</string>
		<string>DJIRemoteControllerParamLeftWheelValue</string>
		<string>DJIRemoteControllerParamRightWheelButtonDown</string>
		<string>DJIRemoteControllerParamRCHardwareFlightModeSwitchState</string>
		<string>DJIRemoteControllerParamRecodeButtonDown</string>
		<string>DJIRemoteControllerParamPlaybackButtonDown</string>
		<string>DJIRemoteControllerParamCustomButton2Down</string>
		<string>DJIRemoteControllerParamLeftDialsValue</string>
		<string>DJIRemoteControllerParamIsNewMasterSlaveModeSupported</string>
		<string>DJIRemoteControllerParamControllingGimbalIndex</string>
	</array>
	<key>handheldController</key>
	<array>
		<string>DJIHandheldControllerParamControlLED</string>
		<string>DJIHandheldControllerParamStickGimbalControlEnabled</string>
	</array>
</dict>
</plist>
